@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins&family=Roboto&display=swap");

:root {
  --primary-color: lightblue;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  background-color: var(--primary-color);
  display: block;
  padding: 3% 0 1% 0%;
}

.header h1 {
  font-family: "Playfair Display", serif;
  font-size: 4rem;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
}

.topSection {
  overflow: hidden;
}

.sectionContent {
  display: flex;
  padding: 3% 8%;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: relative;
}

.sectionContent::before {
  content: "";
  position: absolute;
  top: -200px;
  left: -50px;
  background-color: var(--primary-color);
  width: 200%;
  height: 100%;
  transform: rotate(-5.5deg);
  z-index: -1;
}

.sectionContent img {
  width: 550px;
  border-radius: 2px;
}

.sectionContent .aboutMe {
  background-color: #fff;
  padding: 4% 5%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
}

.sectionContent .aboutMe h1 {
  font-size: 2.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin-bottom: 3%;
}

.sectionContent .aboutMe p {
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
  margin-bottom: 4%;
  line-height: 190%;
  letter-spacing: 1px;
}

.sectionContent .aboutMe .socialMediaLinks {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4%;
}

.sectionContent .aboutMe .socialMediaLinks i {
  font-size: 2rem;
  cursor: pointer;
}

/* MAIN SECTION */

.main {
  margin: 4.5% 0;
  padding: 0 8%;
}
.main .mainContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  row-gap: 100px;
  justify-content: space-between;
  column-gap: 50px;
}

.main .heading h1 {
  font-size: 2.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin-bottom: 2%;
}

.main .projectContainer {
  width: 500px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.main .projectContainer img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.main .projectContainer .projectDetails img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.main .projectContainer .projectDetails i {
  font-size: 1.8rem;
  cursor: pointer;
}

.main .projectContainer .projectDetails .topSection {
  margin: 5px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 10%;
}

.main .projectContainer .projectDetails .topSection h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.main .projectContainer .projectDetails .topSection .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.main .projectContainer .projectDetails .description {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  letter-spacing: 1px;
  padding: 2% 10% 15% 10%;
}
