@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins&family=Roboto&display=swap");

:root {
  --primary-color: cadetblue;
  --background: aliceblue;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background);
}

a {
  text-decoration: none;
}

.header {
  padding: 2% 0 2% 0%;
}

.header h1 {
  font-family: "Playfair Display", serif;
  font-size: 4rem;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
}

.topSection {
  overflow: hidden;
}

.sectionContent {
  display: flex;
  padding: 3% 8%;
  align-items: center;
  justify-content: center;
  position: relative;
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--primary-color);
  z-index: -1;
}

.separator {
  width: 0;
  height: 0;
  border-left: 100vw solid transparent;
  border-bottom: 13.9vw solid var(--background);
  margin-top: -13.9vw;
  z-index: 1;
}

.sectionContent img {
  width: 600px;
  border-radius: 3px;
  position: relative;

  z-index: 2;
}

.sectionContent .aboutMe {
  background-color: #fff;
  padding: 4% 5%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  position: relative;

  z-index: 2;
}

.sectionContent .aboutMe h1 {
  font-size: 2.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin-bottom: 3%;
}

.sectionContent .aboutMe p {
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
  margin-bottom: 4%;
  line-height: 190%;
  letter-spacing: 1px;
}

.sectionContent .aboutMe .socialMediaLinks {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4%;
}

.sectionContent .aboutMe .socialMediaLinks i {
  font-size: 2rem;
  cursor: pointer;
  color: black;
}

/* MAIN SECTION */

.main {
  margin: 4.5% 0;
  padding: 0 8%;
}
.main .mainContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-content: space-between;

  grid-auto-rows: 550px;
  row-gap: 100px;
  column-gap: 80px;
}

.main .heading h1 {
  font-size: 2.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin-bottom: 2.5%;
}

.main .projectContainer {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #fff;
}

.main .projectContainer img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.main .projectContainer .projectDetails img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.main .projectContainer .projectDetails i {
  font-size: 1.8rem;
  cursor: pointer;
}

.main .projectContainer .projectDetails .topSection {
  margin: 5px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 10%;
}

.main .projectContainer .projectDetails .topSection h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.main .projectContainer .projectDetails .topSection .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.main .projectContainer .projectDetails .description {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  letter-spacing: 1px;
  padding: 2% 10% 15% 10%;
}

/* FOOTER SECTION */

.footer {
  background-color: var(--primary-color);
  margin-top: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5% 5% 3% 5%;
}

.footer img {
  width: 40px;
}

.footer .phone,
.footer .emailAddress {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  gap: 10px;
}

.footer h1 {
  font-size: 2.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.footer p {
  margin-top: 2%;
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
}

.footer .logos {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20%;
}

.footer .logos i {
  font-size: 2rem;
  cursor: pointer;
  color: black;
}
