@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins&family=Roboto&display=swap");

:root {
  --primary-color: steelblue;
  --background: aliceblue;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background);
}

a {
  text-decoration: none;
}

.topSection {
  overflow: hidden;
}

.sectionContent {
  display: flex;
  padding: 3% 8%;
  align-items: center;
  justify-content: center;
  position: relative;
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--primary-color);
  z-index: -1;
}

.separator {
  width: 0;
  height: 0;
  border-left: 100vw solid transparent;
  border-bottom: 13.9vw solid var(--background);
  margin-top: -13.9vw;
  z-index: 1;
  outline: none;
}

.sectionContent img {
  max-width: 600px;
  border-radius: 3px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 2;
}

.sectionContent .aboutMe {
  background-color: #fff;
  padding: 4% 5%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  position: relative;
  min-width: 400px;
  z-index: 2;
}

.sectionContent .aboutMe h1 {
  font-size: 2.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin-bottom: 3%;
  letter-spacing: 1px;
}

.sectionContent .aboutMe p {
  font-size: 1.3rem;

  font-family: "Poppins", sans-serif;
  margin-bottom: 4%;
  line-height: 190%;
  letter-spacing: 1px;
}

.sectionContent .aboutMe .socialMediaLinks {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4%;
}

.sectionContent .aboutMe .socialMediaLinks i {
  font-size: 2rem;
  cursor: pointer;
  color: black;
}

/* MAIN SECTION */

.main {
  margin: 4.5% 0;
  padding: 0 8%;
}
.main .mainContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  justify-content: space-between;

  grid-auto-rows: 510px;
  column-gap: 80px;
  row-gap: 100px;
}

.main .heading h1 {
  font-size: 2.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin-bottom: 2.5%;
  letter-spacing: 1px;
}

.main .projectContainer {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}

.main .projectContainer img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.main .projectContainer .projectDetails img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.main .projectContainer .projectDetails i {
  font-size: 1.8rem;
  cursor: pointer;
}

.main .projectContainer .projectDetails .topSection {
  margin: 5px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 10%;
}

.main .projectContainer .projectDetails .topSection h2 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.main .projectContainer .projectDetails .topSection .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.main .projectContainer .projectDetails .description {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  letter-spacing: 1px;
  padding: 2% 10% 15% 10%;
}

/* FOOTER SECTION */

.footer {
  background-color: var(--primary-color);
  margin-top: 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4% 4% 3% 4%;
  gap: 15px;
  color: white;
}

.footer img {
  width: 40px;
}

.footer .phone,
.footer .emailAddress {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1%;
  gap: 10px;
}

.footer h1 {
  font-size: 2.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
}

.footer p {
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
}

.footer .logos {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20%;
}

.footer .logos i {
  font-size: 2rem;
  cursor: pointer;
  color: white;
}

/* MEDIA QUERIES */
@media screen and (max-width: 480px) {
  .sectionContent {
    flex-direction: column;
    gap: 2%;
  }

  .background {
    height: 40%;
  }

  .sectionContent img {
    width: 350px;
    margin-top: 10%;
    border-radius: 5px;
  }

  .separator {
    border-bottom: 45vh solid var(--background);
    position: absolute;
    top: 15.5%;
  }

  .sectionContent .aboutMe {
    padding: 8%;
    margin: 10% 0 0 0;
    background-color: var(--background);
    box-shadow: none;
  }

  .sectionContent .aboutMe h1 {
    font-size: 1.8rem;
  }

  .sectionContent .aboutMe p {
    font-size: 1rem;
    margin-bottom: 10%;
  }

  .sectionContent .aboutMe .socialMediaLinks i {
    font-size: 1.4rem;
  }

  .main {
    margin: 10% 0 20% 0;
  }

  .main .heading h1 {
    font-size: 1.8rem;
    margin-bottom: 5%;
  }

  .main .mainContainer {
    grid-template-columns: 1fr;
    justify-content: center;
    row-gap: 50px;
    grid-auto-rows: 450px;
  }

  .main .projectContainer {
    margin: 0 auto;
    width: 100%;
  }

  .main .projectContainer .projectDetails .topSection h2 {
    font-size: 1.3rem;
  }

  .main .projectContainer .projectDetails i {
    font-size: 1.4rem;
  }

  .main .projectContainer .projectDetails img {
    width: 25px;
    height: 25px;
  }

  .main .projectContainer .projectDetails .description {
    font-size: 1rem;
    padding-bottom: 2%;
  }

  .footer h1 {
    font-size: 1.8rem;
  }
  .footer p {
    font-size: 1rem;
  }

  .footer img {
    width: 25px;
  }

  .footer .logos i {
    font-size: 1.4rem;
  }
}
